src/main/resources/bookPublishersInCity.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Publishers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Publisher" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="Books">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Book" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="title"/>
                                                    <xs:element type="xs:string" name="publicationDate"/>
                                                    <xs:element name="Authors">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Author" maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="name"/>
                                                                            <xs:element type="xs:date"
                                                                                        name="dayOfBirthDay">
                                                                                <xs:pattern
                                                                                        value="[0-9]{2}.[0-9]{2}.[0-9]{4}"/>
                                                                            </xs:element>
                                                                            <xs:element type="xs:date"
                                                                                        name="dayOfDeath">
                                                                                <xs:pattern
                                                                                        value="[0-9]{2}.[0-9]{2}.[0-9]{4} -"/>
                                                                            </xs:element>
                                                                            <xs:element type="xs:string" name="sex"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>